In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
original = pd.read_csv("allResults'20.csv")

In [3]:
original.head()

,race,id,fips_char,fips5,place,fname,lname,party,pab,votes,incumbent,mpc
0,President,0,1,NaN,Alabama,Donald,Trump,REP,R,1434159.0,1.0,1.0
1,President,0,1,NaN,Alabama,Joe,Biden,DEM,D,843473.0,0.0,1.0
2,President,0,1,NaN,Alabama,Jo,Jorgensen,LIB,O,24994.0,0.0,0.0
3,President,0,1,NaN,Alabama,NaN,Write-ins,WRI,O,7274.0,0.0,0.0
4,President,1019,1,1019.0,Cherokee County,Donald,Trump,REP,R,10562.0,1.0,1.0

In [4]:
congressional = original.copy().loc[original["race"] == "House"]

In [5]:
congressional.head()

,race,id,fips_char,fips5,place,fname,lname,party,pab,votes,incumbent,mpc
476,House,101,1,NaN,NaN,Jerry,Carl,REP,R,204399.0,1.0,1.0
477,House,101,1,NaN,NaN,James,Averhart,DEM,D,96363.0,0.0,1.0
478,House,102,1,NaN,NaN,Barry,Moore,REP,R,197329.0,1.0,1.0
479,House,102,1,NaN,NaN,Phyllis,Harvey-Hall,DEM,D,104592.0,0.0,1.0
480,House,102,1,NaN,NaN,NaN,Write-ins,WRI,O,286.0,0.0,0.0

In [6]:
congressional.shape

(1184, 12)

In [7]:
j = congressional.groupby("id")

In [8]:
j.head()

,race,id,fips_char,fips5,place,fname,lname,party,pab,votes,incumbent,mpc
476,House,101,1,NaN,NaN,Jerry,Carl,REP,R,204399.0,1.0,1.0
477,House,101,1,NaN,NaN,James,Averhart,DEM,D,96363.0,0.0,1.0
478,House,102,1,NaN,NaN,Barry,Moore,REP,R,197329.0,1.0,1.0
479,House,102,1,NaN,NaN,Phyllis,Harvey-Hall,DEM,D,104592.0,0.0,1.0
480,House,102,1,NaN,NaN,NaN,Write-ins,WRI,O,286.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
52370,House,5600,56,NaN,NaN,Liz,Cheney,REP,R,185732.0,1.0,1.0
52371,House,5600,56,NaN,NaN,Lynnette,Grey Bull,DEM,D,66576.0,0.0,1.0
52372,House,5600,56,NaN,NaN,Richard,Brubaker,LIB,O,10154.0,0.0,0.0
52373,House,5600,56,NaN,NaN,Jeffrey,Haggit,CST,O,7905.0,0.0,0.0
52439,House,0,11,NaN,District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
l = j["votes"].agg("max")
print(l)
l = pd.DataFrame(l)
l.head()

id
0            NaN
101     204399.0
102     197329.0
103     214731.0
104     246668.0
          ...
5505    265434.0
5506    238874.0
5507    252046.0
5508    268173.0
5600    185732.0
Name: votes, Length: 436, dtype: float64

        votes
id
0         NaN
101  204399.0
102  197329.0
103  214731.0
104  246668.0

In [10]:
final = congressional.merge(l, on = "id")

In [11]:
final.head()

,race,id,fips_char,fips5,place,fname,lname,party,pab,votes_x,incumbent,mpc,votes_y
0,House,101,1,NaN,NaN,Jerry,Carl,REP,R,204399.0,1.0,1.0,204399.0
1,House,101,1,NaN,NaN,James,Averhart,DEM,D,96363.0,0.0,1.0,204399.0
2,House,102,1,NaN,NaN,Barry,Moore,REP,R,197329.0,1.0,1.0,197329.0
3,House,102,1,NaN,NaN,Phyllis,Harvey-Hall,DEM,D,104592.0,0.0,1.0,197329.0
4,House,102,1,NaN,NaN,NaN,Write-ins,WRI,O,286.0,0.0,0.0,197329.0

In [12]:
testing = final.loc[final["votes_x"] == final["votes_y"]]

In [112]:
testing.shape

(435, 14)

In [13]:
congressional.head()

,race,id,fips_char,fips5,place,fname,lname,party,pab,votes,incumbent,mpc
476,House,101,1,NaN,NaN,Jerry,Carl,REP,R,204399.0,1.0,1.0
477,House,101,1,NaN,NaN,James,Averhart,DEM,D,96363.0,0.0,1.0
478,House,102,1,NaN,NaN,Barry,Moore,REP,R,197329.0,1.0,1.0
479,House,102,1,NaN,NaN,Phyllis,Harvey-Hall,DEM,D,104592.0,0.0,1.0
480,House,102,1,NaN,NaN,NaN,Write-ins,WRI,O,286.0,0.0,0.0

In [17]:
beforeWrite = congressional.loc[(congressional["party"] == "REP") | (congressional["party"] == "DEM")]

In [18]:
beforeWrite.head()

,race,id,fips_char,fips5,place,fname,lname,party,pab,votes,incumbent,mpc
476,House,101,1,NaN,NaN,Jerry,Carl,REP,R,204399.0,1.0,1.0
477,House,101,1,NaN,NaN,James,Averhart,DEM,D,96363.0,0.0,1.0
478,House,102,1,NaN,NaN,Barry,Moore,REP,R,197329.0,1.0,1.0
479,House,102,1,NaN,NaN,Phyllis,Harvey-Hall,DEM,D,104592.0,0.0,1.0
481,House,103,1,NaN,NaN,Mike,Rogers,REP,R,214731.0,1.0,1.0

In [19]:
final = beforeWrite.sort_values(by = "party")

In [20]:
final.head()

,race,id,fips_char,fips5,place,fname,lname,party,pab,votes,incumbent,mpc
25089,House,2704,27,NaN,NaN,Betty,McCollum,DEM,D,243289.0,1.0,1.0
28617,House,3203,32,NaN,NaN,Susie,Lee,DEM,D,203421.0,1.0,1.0
28621,House,3204,32,NaN,NaN,Steven,Horsford,DEM,D,168457.0,1.0,1.0
30530,House,3301,33,NaN,NaN,Chris,Pappas,DEM,D,205606.0,1.0,1.0
30534,House,3302,33,NaN,NaN,Ann,Kuster,DEM,D,208284.0,1.0,1.0